/* app.css */
*{
    box-sizing: border-box;
}
html,
body {
  background-color: white; 
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

.grid {
    display: grid;
}

.grid-row{
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 10em;
}

.no-border{
    border-radius: inherit!important;
  }

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}


.gap-4 {
    gap: 1rem;
}

.border {
    border: 1px solid #ccc;
}

.rounded {
    border-radius: 0.5rem;
}

.p-4 {
    padding: 1rem;
}

.w-32 {
    width: 8rem;
}

.h-32 {
    height: 8rem;
}

.object-cover {
    object-fit: cover;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mx-b{
    margin: 0rem 2rem;
}

.mx{
    margin: 0rem 0.7rem;
}

.my-b{
    margin: 4rem 0rem;
}

.font-bold {
    font-weight: bold;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.bg-gray-200 {
    background-color: rgb(229 231 235);
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.top-0 {
    top: 0px;
}

.right-0 {
    right: 0px;
}

.text-gray-600{
    color: #333333;
}

.bg-red-500{
    background-color: rgb(220 38 60);
}

.text-red {
    color: rgb(220 38 60);
}

.bg-none {
    background: transparent;
    border:none;
    cursor:pointer;
    padding: 0;
    font-size: 1em;
}

.text-white {
    color: white;
}

.text-black{
    color: black;
}

.rounded-full {
    border-radius: 9999px;
}
.text-m{
    font-size: 1.3rem;
    line-height: 1rem;
}

.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

nav{
    position: fixed; 
    top: 0;
    right: 0;
    left: 0;
    background-color: white; 
    z-index: 1000; 
    padding: 1rem 6.5rem; 
    width:100%;
}


/* Estilos generales para el contenedor */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  /* Estilos generales para el carrito */
  .carrito-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    align-items: center;
  }
  
  .carrito-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .carrito-item .details {
    display: flex;
    flex-direction: column;
  }
  
  .carrito-item .details p {
    margin: 0.25rem 0;
  }

  .carrito-count{
    padding: 0.10rem 0.40rem;
    margin-left: -9px;
    }
  
  /* Para pantallas móviles */
  @media (max-width: 640px) {
    .carrito-item {
      grid-template-columns: 1fr; 
    }
    .carrito-item img {
      width: 100%;
    }
  
    .carrito-item .details {
      padding-left: 0;
    }
  
    /* Botones en móviles debajo */
    .actions {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-top: 1rem;
    }
  }
  
  /* Estilos para la sección de total y continuar comprando */
  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .actions .total {
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #3e3e3e;
  }
  
  .actions button {
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .button-secondary {
    background-color: transparent;
    color: #3e3e3e;
    border: 1px solid #444;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
  }


  .button-secondary:hover {
    transform:scale(.99);
  }
  
  .actions .total-price {
    background-color: #f44336;
    color: white;
  }

  .search-input {
    width: 100%;
    padding: 8px 0px;
    border: none;
    border-bottom: 1px solid #333; 
    outline: none; 
    font-size: 16px;
    transition: border-bottom 0.3s ease-in-out;
  }
  
  .search-input:focus {
    border-bottom: 1px solid #ccc; 
  }
  
  .result-text {
    color: #666;
    margin-top: .70rem;
    font-size: .80rem;
  }

  .error-message {
    width: 100%;
    background-color: rgba(255, 0, 0, 0.1); /* Rojo flojo */
    color: red;
    border: 1px solid rgba(255, 0, 0, 0.3);
    padding: 12px;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }

  .center-x{
    position: relative;
    left: 50%;
  }

  /* Estilos generales para la cuadrícula */
  .product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0rem; 
    max-width: 1200px; 
  }
  
  /* Estilo para cada tarjeta de producto */
  .product-card {
    border: 1px solid #ccc;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    text-align: center;
    transition: transform 0.2s ease;
  }
  
  .product-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  
  .product-card h3,
  .product-card p {
    margin: 0.5rem 0;
  }

@media (min-width: 640px) {
    .grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .product-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas medianas */
      }


}

@media (min-width: 768px) {
    .grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .product-grid{
        grid-template-columns: repeat(3, 1fr); /* 3 columnas en tablets */
      }
}

@media (min-width: 900px) {
    .grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .product-grid{
        grid-template-columns: repeat(4, 1fr); /* 4 columnas en pantallas grandes */
      }
}

@media (min-width: 1024px) {
    .grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .product-grid{
        grid-template-columns: repeat(5, 1fr); /* 4 columnas en pantallas grandes */
      }
}

@media (max-width: 640px) {
    .grid-row{
        gap: 1em;
    }
    .product-grid{
        grid-template-columns: repeat(1, 1fr); /* 4 columnas en pantallas grandes */
    }
    nav{
    padding: 1rem 5%;
    }

}

